fastapi
uvicorn
scikit-learn
numpy
pandas
pydantic
datasets
huggingface-hub
sentence-transformers
transformers
torch
torchvision
Pillow
nltk
joblib
matplotlib
seaborn
shap
spacy
rank-bm25
opencv-python
